

.start-clock{
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,50%);
    z-index: 2;
    font-size: large;
    height: 55px;
    width: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    /* font-size-adjust: inherit; */
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 2px #999;

}

.start-clock:active{
    background-color: blue;

}

.open-timer{
   
    background-color: red;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 3;

    

}


.reset-clock{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 55px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    transform: translate(50%, -50%);
    border: none;
    background-color: red;
    box-shadow: 0 2px #999;
    border-radius: 50%;
    z-index: 2;

}
.reset-clock:active{
    background-color: blue;

}

.title1{ 
    position: absolute;
    text-align: center;
    justify-content: center; 
    left: 50%;
    width: 70%;
    word-wrap: break-word;
    transform: translate(-50%, 50%);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
 }



.image{
    position: absolute;
    top: 50%;
    width: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 7;
}






@media(max-width:500px) {
    .start-clock{
        transform: translate(-110%, 50%);
    }

    .reset-clock{
        transform: translate(10%, 50%);

    }

    .open-timer{
        height: 30%;
        width: 90%;
        transform: translate(-50%, 7%);

    }

    .image{
        transform: translate(-50%, -130%);

    }
    
    .title1{
        font-size: 3vh;
        transform: translate(-50%, 10%);
    }


    
}






/* 

screens larger than 500px but lesss than 1000
 */




 


 @media screen and (min-width:700px) and (max-width:1000px){
    .start-clock{
        height: 6vh;
        width: 6.5vh;
        font-size: 2vh;
        transform: translate(-110%, 50%);
    }

    .reset-clock{
        height: 6vh;
        width: 6.5vh;
        font-size: 2vh;
        transform: translate(10%, 50%);

    }

    .open-timer{
        height: 40%;
        width: 90%;
        transform: translate(-50%, 7%);

    }

    .image{
        position: relative;
        width: 9.3vh;
        margin: 20px;
        top:50%;
        transform: translate(-80%, 380%);

    }
    
    .title1{
        font-size: 3vh;
        transform: translate(-50%, 10%);
    }


    
}






/* 
weird screen sizes
 */

@media screen and (min-width:500px) and (max-width:700px){
    .start-clock{
        height: 6vh;
        width: 6.5vh;
        font-size: 2vh;
        transform: translate(-110%, 50%);
    }

    .reset-clock{
        height: 6vh;
        width: 6.5vh;
        font-size: 2vh;
        transform: translate(10%, 50%);

    }

    .open-timer{
        height: 40%;
        width: 90%;
        transform: translate(-50%, 7%);

    }

    .image{
        position: relative;
        width: 8.9vh;
        margin: 20px;
        top:50%;
        transform: translate(-80%, 392%);

    }
    
    .title1{
        font-size: 3vh;
        transform: translate(-50%, 10%);
    }


    
}





@media screen and (min-width:1000px) and (max-width:1500px) {
    .start-clock{
        height: 7vh;
        width: 8vh;
        font-size: 2vh;
        transform: translate(-110%, 50%);
    }

    .reset-clock{
        height: 7vh;
        width: 8vh;
        font-size: 2vh;
        transform: translate(10%, 50%);

    }

    .open-timer{
        height: 45%;
        width: 90%;
        transform: translate(-50%, 5%);

    }

    .image{
        position: relative;
        width: 10vh;
        top:50%;
        transform: translate(-70%, 345%);

    }
    
    .title1{
        font-size: 3vh;
        transform: translate(-50%, 10%);
    }
    
}




@media (min-width: 1500px) {
    .start-clock{
        height: 10vh;
        width: 10.5vh;
        font-size: 2vh;
        transform: translate(-110%, 50%);
    }

    .reset-clock{
        height: 10vh;
        width: 10.5vh;
        font-size: 2vh;
        transform: translate(10%, 50%);

    }

    .open-timer{
        height: 40%;
        width: 50%;
        transform: translate(-50%, 10%);

    }

    .image{
        position: relative;
        width: 13vh;
        margin: 20px;
        top:50%;
        transform: translate(-80%, 220%);

    }
    
    .title1{
        font-size: 3vh;
        transform: translate(-50%, 10%);
    }
    
}
















/* 

have one for under 350
 */






@media(max-width: 350px){
    .start-clock{
        height:40px;
        width: 45px;
        font-size: small;
        transform: translate(-100%, 50%);
    }

    .reset-clock{
        height:40px;
        width: 45px;
        font-size: small;
        transform: translate(10%, 50%);

    }

    .open-timer{
        height: 35%;
        width: 90%;
        transform: translate(-50%, 7%);

    }

    .image{
        transform: translate(-50%, -130%);

    }
    
    .title1{
        font-size: 15px;
        transform: translate(-50%, 10%);
    }

}






/* 


For older phones ex iphone 4



 */



 @media(max-height: 500px){
    .open-timer{
        height: 45%;
        width: 90%;
        transform: translate(-50%, 7%);

    }

    .start-clock{
        height:40px;
        width: 45px;
        font-size: 10px;
        transform: translate(-100%, 60%);
    }

    .reset-clock{
        height:40px;
        width: 45px;
        font-size: 10px;
        transform: translate(10%,60%);

    }

 }




/* 

Flipped screens


 */








 @media screen and (min-width:450px) and (max-width:800px) and (min-height: 320px) and (max-height: 700px){

    .start-clock{
        height:40px;
        width: 45px;
        font-size: small;
        transform: translate(-100%, 210%);
    }

    .reset-clock{
        height:40px;
        width: 45px;
        font-size: small;
        transform: translate(10%, 210%);

    }

    .open-timer{
        height: 70%;
        width: 90%;
        transform: translate(-50%, 7%);
        z-index: 9;

    }

    .image{
        width: 15%;
        transform: translate(-50%, -40%);

    }
    
    .title1{
        font-size: 15px;
        transform: translate(-50%, 10%);
    }



 }










/* 

Iphone 12 pro + pixel 5

 */


/* @media(max-width: 395px){

    .open-timer{
        transform: translate(-50%, -45%);
    }

        
    .start-clock{
        transform: translate(-110%, -310%);

    }

    .image{
        transform: translate(160%, 280%);
    }


        
    .reset-clock{
        transform: translate(10%, -310%);
    }



} */


/* 
Iphone SE
 */

/* @media(max-width: 375px){

    .open-timer{
        transform: translate(-50%, -32%);
    
    }

        
    .start-clock{
        transform: translate(-100%, -180%);

    }
   

    .image{
        transform: translate(150%, 225%);
    }


        
    .reset-clock{
        transform: translate(5%, -180%);

    }


} */



/* 

Galaxy 8+ 

 */

 /* @media(max-width: 360px){
 .open-timer{
    transform: translate(-50%, -45%);

}

    
.start-clock{
    transform: translate(-100%, -265%);

}


.image{
    transform: translate(140%, 243%);
}


    
.reset-clock{
    transform: translate(5%, -265%);

}


} */


/* 
S20 ultra and iphone xr

 */


/* @media(min-width: 412px){

    .open-timer{
        transform: translate(-50%, -48%);
    }

        
    .start-clock{
        transform: translate(-100%, -355%);

    }

    .image{
        transform: translate(170%, 295%);
    }


        
    .reset-clock{
        transform: translate(10%, -355%);
    }



} */


/* @media(max-width: 350px){
    .open-timer{
        transform: translate(-50%, -48%);
    }

        
    .start-clock{
        transform: translate(-95%, -160%);

    }

    .image{
        transform: translate(120%, 185%);

    }


        
    .reset-clock{
        transform: translate(10%, -160%);
    }



} */